$blue : blue;
$red : red;
$white : #fff;
$marginAuto : auto;
$justifyContent : center;
$flexSpace : .12 auto;
$width : 100%;
$textAlignCenter : center;
$headBgColor : #fff;
$flexRow : row;
$flexOne: 1;
$flexWrap: nowrap;
$flexStart : flex-start;
$displayFlex : flex;
$flexColumn: column;
$padding: 15px;
$align-self:center;
$flexColMd1 : .1;
$flexColMd3 : .2;
$flexColMd2: .4;
$flexColMd6: .9;
$flexColMd5: .7;
$flexColMd4: .5;
$textAlignRight: right;
$padding4 : 4px;
$border: 0px;
$flex : flex;
$alignItem: center;
$padding11 : 11px;
$padding12 : 12px;
$padding13 : 13px;
$padding15 : 15px;
$backGroundColor: #F2F0F6;
$width15: 15px;
$width50: 50px;
$width51: 51px;
$width20: 20px;
$width24: 24px;
$width: 100%;
$height50: 50px;
$height24: 24px;
$height51: 51px;
$cursor:pointer;
$borderRadius3: 3px;
$borderRadius4: 4px;
$borderRadius5: 5px;
$borderTopLeftRadius3:3px;
$borderTopRightRadius3:3px;
$borderBottomRightRadius3:3px;
$borderBottomLeftRadius3:3px;
$borderBottomLeftRadius0:0px;
$borderBottomRightRadius0:0px;
$borderTopRightRadius0:0px;
$borderTopLeftRadius0:0px;
$padding406: 4px 6px;
$flexPoint8 : .8;
$relative:relative;
$absolute:absolute;
$right12:12px;
$padding168:16px 8px;
$padding128:12px 8px;
$justifyContent: flex-end;
$distance-1 : 0.011 auto;
$colorJagger : #40354E;
$fontSize16: 16px;
$boxShadowGray: 0px 16px 6px -14px #F2F0F6;
$paddingBottom:0px;
$contentEnd : flex-end;
$distance-2: 0.01 auto;
$distance-3 : 0.1 auto;
$center : center;
$contentCenter : center;


/* font Family */
$fontFamily : Montserrat, -apple-system, "Helvetica Neue", sans-serif;
/* font Family */

/* logo css */
$LogoPadding : 4px 12px 4px 4px;
/* logo css */

/* input type search box css */
$searchBoxIceQueenBg : #F2F0F6;
$searchBoxLineHeight: 20px;
$searchBoxColor : #40354E;
$searchBoxFontWeight : 500;
$searchBoxFontSize : 16px;
$searchBoxPadding : 16px;
$searchBoxHeight : 51px;
$searchBoxAlignItem: center;
/* input type search box css */

$cover : cover;
$contain : contain;
$fill : fill;
$height480 : 480px;
$width70 : 70%;
$width65 : 65%;
$width270 : 270px;
$width250 : 250px;
$height260 : 260px;
$displayInLine : inline-block;
$left : left;
$marginTop35: 35px;
$marginTop25: 25px;
$width62 : 62%;
$flex_point32 : .32;
$height370: 370px;
$height330:330px;
$height290:290px;
$top220 : 220px;
$bgColorWhite:#fff;
$paddingDepartText : 4px 16px 4px 16px;
$borderRadius22:22px;
$max_width1140: 1140px;
$top213 : 213px;
$height280:280px;
$backGroundColorGrayed : #EDEDED;
$paddingLeft10 : 10px;
$paddingRight10 : 10px;
$height200:200px;
$width30:30%;
$marginBottom0:0px;
$marginRight0:0px;
$marginLeft0:0px;
$marginBottom10:10px;
$fontSize24:24px;
$fontSize14:14px;
$lightGray:rgb(140, 149, 165);
$jaddColor:#40354E;
$fontSize16:16px;
$fontFamily:Montserrat, -apple-system, "Helvetica Neue", sans-serif;
$padding1010010: 10px 10px 10px 10px;
$padding31010: 3px 10px 1px 0px;
$padding41060: 4px 10px 6px 0px;
$padding61000: 6px 10px 0px 0px;
$fontSize13:13px;
$fontSize12:12px;
$fontWeight600:600;
$fontWeight500:500;
$fontWeight400:400;
$width211:211px;
$height229:229px;
$fontSize15:15px;
$margin10:10px;
$marginTop14:14px;
$darkBlue: #1A1239;
$width635:63.5%;
$padding50:50px;
$underLine:underline;
$right10:10px;
$padding20:20px;
$radius20:20px;
$padding10:10px;
$paddingLeft7:7px;
$width88:88%;
$borderTop:2px solid #40354E;
$borderBottom:2px solid #40354E;
$lightGray:#8C95A5;
$padding0:0px;
$marginBottom50:50px;
$left120:120px;
$padding5:5px;



.footerRow {
  justify-content: $contentEnd;
  align-items: $center;
}

.BottomLogo {
  position: $relative;
  left:$left120;
}
.rightsReserved{
  color:$lightGray;
  font-family:$fontFamily;
  font-size: $fontSize12;
  justify-content: $center;
  padding-bottom: $padding20;
}

.footerBottomLink{
  color:$lightGray;
  font-size: $fontSize14;
  font-family: $fontFamily;
  padding-right:$padding15;
}

.footerBottomLink:hover{
  color:$lightGray !important;
  text-decoration: $underLine;
}

.FooterInnerBottom {
  padding:$padding50;
  justify-content: $center;
  border-top:$borderTop;
  padding-left: $padding0;
  padding-right: $padding0;
  border-bottom:$borderBottom;
  margin-bottom:$marginBottom50;
}

.removeMarginRow {
  margin-right: $marginRight0;
  margin-left: $marginLeft0;
}

.seeAll {
  display: $flex;
  align-items: $center;
  flex: $flexOne;
  justify-content: $contentEnd;
  font-family: $fontFamily;
  color:$red;
  font-weight: $fontWeight600;
  cursor:$cursor;
}

.Footer{
  min-width: $width;
  background-color: $darkBlue;
  font-family: $fontFamily;
}

.rowOne {
  width:$width;
  justify-content: $center;
}

.itSelf {
  color:$white;
  font-weight: $fontWeight600;
  font-family: $fontFamily;
}

.socialMediaIcon {
    width:$width24;
  height:$height24;
  position: $relative;
  right:$right10;
  border-radius: $radius20;
}

.FooterInner {
  padding:$padding50;
  display: $flex;
  justify-content: $center;
}
.Col {
  color:$white;
  flex:$flexColMd3;
}

.spanShop {
  display: $flex;
  font-family: $fontFamily;
  cursor: $cursor;
  color:$white;
  padding-top: $padding10;
}

.linkPadding {
  padding-left:$padding20;
}

.spanShop:hover{
  color:$white !important;
  text-decoration: $underLine !important;
}

.productName {
  font-size:$fontSize14;
  font-family: $fontFamily;
  font-weight: $fontWeight600;
}

.productAuthor {
  font-family: $fontFamily;
  color:$lightGray;
  font-size: $fontSize14;
  font-weight: $fontWeight400;
}

.productPrice {
  font-family: $fontFamily;
  color:$jaddColor;
  font-size:$fontSize15;
  font-weight: $fontWeight600;
}

.adjustRow {
  font-family: $fontFamily;
  //background-color: $backGroundColorGrayed;
  //padding: $padding1010010;
  align-items: $center;
  justify-content: $center;
  margin-right: $marginRight0;
  margin-left: $marginLeft0;
  width: $width88;
  display: $displayInLine;
}

.adjustRowA {
  font-family: $fontFamily;
  //padding: $padding31010;
  margin-right: $marginRight0;
  margin-bottom:$marginBottom10;
  width: $width88;
  text-align:$left;
  display: $displayInLine;
  padding-left:$paddingLeft7;
}

.adjustRowN {
  font-family: $fontFamily;
  //padding: $padding61000;
  margin-right: $marginRight0;
  text-align:$left;
  width: $width88;
  display: $displayInLine;
  padding-left:$paddingLeft7;
}

.adjustRowP {
  font-family: $fontFamily;
  //padding: $padding41060;
  margin-right: $marginRight0;
  width: $width88;
  margin-bottom: $marginBottom10;
  text-align:$left;
  display: $displayInLine;
  padding-left:$paddingLeft7;
}

.containerBox {
  font-family: $fontFamily;
  width:$width30;
  cursor:$cursor;
  margin-top: $marginTop14;
}

.set_departments_text {
  font-family: $fontFamily;
  display: $flex;
  position: $absolute;
  top: $top220;
  background: $bgColorWhite;
  padding: $paddingDepartText;
  border-radius: $borderRadius22;
}

.set_departments_text_2 {
  font-family: $fontFamily;
  display: $flex;
  position: $absolute;
  top: $top213;
  background: $bgColorWhite;
  padding: $paddingDepartText;
  border-radius: $borderRadius22;
}


.department_text {

}

.departments {
    text-align: $center;
}

.mainBg {
  background: #F2F0F6;
}

.image_size_2 {
  width:$width;
  height:$height280;
}

.containerWidth {
  width:$width65;
  padding-left: $padding5;
  padding-right: $padding5;
}

.setFeaturedProducts {
  margin-bottom: $marginBottom10;
  font-size:$fontSize24;
  font-family: $fontFamily;
  font-weight: 500;
  color:$jaddColor;
}

.containerWidthGallery{
  background-color: $bgColorWhite;
  width:$width65;
  padding:$padding15;
}

.set_departments {
  display: $flex;
  justify-content: $center;
  padding-left:$paddingLeft10;
  padding-right:$paddingRight10;
}

.set_departments_2 {
  height: $height260;
  flex: $flexOne;
  justify-content: $center;
  display: $flex;
  margin-top:$marginTop25;
  padding-left:$paddingLeft10;
  padding-right:$paddingRight10;
}

.image_size{
  width: $width;
  height: $height290;
  object-fit: $cover;
}

.h_departments{
  width: $width62;
  display: $displayInLine;
  text-align: $left;
  max-width:$max_width1140;
}

.Bg {
  color: $white;
  background-color: $backGroundColorGrayed;
}

.head {
  padding: $padding;
  justify-content: $flexStart;
  background-color: $headBgColor;
}

.ImageDistance {
  display: flex;
  flex: $distance-3;
  justify-content: $contentEnd;
}

.mainHeader {
  background-color: $backGroundColor;
  padding: $padding128;
  display: $flex;
  justify-content: $justifyContent;
}

.distance-1 {
  font-family: $fontFamily;
  font-size: $fontSize16;
  flex: $distance-1;
  color: $colorJagger;
}

.distance-2 {
  display: $flex;
  flex:$distance-2;
  justify-content: $contentCenter;
}

.headInner {
  display: $displayFlex;
  margin: $marginAuto;
  width: $width;
  justify-content: $textAlignCenter;
}

.logoArea {
  flex-direction: $flexColumn;
  align-self: $align-self;
  flex: $flexColMd4;
  padding: $LogoPadding;
}

.shoppingBag {
  width: $width24;
  height: $height24;
}

.searchBar{
  align-items: $searchBoxAlignItem;
  display: $flex;
  align-self: $align-self;
  flex: $flexColMd6;
  padding: $padding4;
  padding-bottom: $paddingBottom;
}

.setImage {
  object-fit: $cover;
  width: $width;
  height:$height480;
}

.searchBar:hover{
  box-shadow: $boxShadowGray;
  padding-bottom: $paddingBottom;
}

.searchBarTextBox{
  border:$border;
  font-family: $fontFamily;
  height: $searchBoxHeight;
  font-weight: $searchBoxFontWeight;
  color:$searchBoxColor;
  align-self: $align-self;
  padding: $searchBoxPadding;
  font-size: $searchBoxFontSize;
  background-color: $searchBoxIceQueenBg;
  line-height: $searchBoxLineHeight;
  border-top-left-radius:$borderTopLeftRadius3;
  border-bottom-left-radius:$borderBottomLeftRadius3;
  border-top-right-radius: $borderTopRightRadius0;
  border-bottom-right-radius: $borderBottomRightRadius0;
}

.selectBox {
  flex:$flexColMd3;
  padding: $padding4;
  padding-bottom: $paddingBottom;
}

.selectThing {
  height: $height50;
}

.searchIcon {
  background-color: $backGroundColor;
  padding: $padding15;
  width: $width51;
  height: $height51;
  cursor:$cursor;
  border-top-right-radius: $borderTopRightRadius3;
  border-bottom-right-radius: $borderBottomRightRadius3;
}

.loginSide{
  display: $flex;
  justify-content: $contentEnd;
  padding: $padding406;
  text-align: $textAlignRight;
  align-self: $align-self;
  align-items: $center;
  flex: $flexPoint8;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}

.margin-auto {
  justify-content: $justifyContent;
  margin: $marginAuto;
  width: $width;
}

.alignCenter {
  text-align: $textAlignCenter;
  font-family: $fontFamily;
  padding: $padding168;
}

.align-item {
  justify-content: $justifyContent;
}

.distance {
  flex:$flexSpace;
}