.toolbar{
    position: fixed;
    width:100%;
    background: #8C95A5;
    height:50px;
    top:0;
    left:0;
}

.toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.toolbar__navigation-items {
    color:#fff;
    text-decoration: none;
}

.toolbar__navigation-items:hover,
.toolbar__navigation-items:active {
    color:#fff;
}

.toolbar__navigation-items ul {
    display: flex;
    list-style: none;
    margin:0px;
    padding: 0px;
}

.responsiveGallery > .slick-slider{
    min-height:660px;
    max-height:660px;
}

.responsiveCarousel > .slick-slider {
    min-height: 320px;
    max-height: 320px;
}

.toolbar__navigation-items li {
    padding: 0 0.05rem;
}

.spacer {
    flex:1;
}

.setDrawerButton {
    display: none;
}
.margin-auto {
    justify-content: normal !important;
    width: auto !important;
    margin-bottom: 0px;
}

.responsiveData {
    display: none;
}

.responsiveGallery > .slick-track {
    padding: 0px 0px;
    height: 650px;
}

@media (max-width:991px) and (min-width:777px) {
    .navbarCheck {
        overflow:scroll;
        display: block !important;
    }
    .navbar {
        padding: 0px !important;
    }
    .alignCenter {
        text-align: center;
        font-family: Montserrat,-apple-system,"Helvetica Neue",sans-serif;
        padding: 16px 4px !important;
        width: 130px;
    }
    .loginSide {
        display: none;
    }
    .selectBox {
        -ms-flex: .2;
        flex: .3;
        padding: 4px;
        padding-bottom: 0px;
    }
    .setDrawerButton {
        display: none;
    }
    .distance {
        display: block;
    }
    .containerWidthGallery {
        background-color: #fff;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-width: 95%;
    }
    .containerWidth {
        width: 100%;
        min-width: 95%;
    }
    .side-drawer a {
        color: #555;
        text-decoration: none;
        text-align: center;
        font-family: Montserrat,-apple-system,"Helvetica Neue",sans-serif;
        padding: 16px 0px;
        font-size: 20px;
    }
    .h_departments {
        width: 95%;
        display: inline-block;
        text-align: left;
        min-width: 95%;
        max-width: 1140px;
    }
}

@media (max-width:813px) {
    .loginSide {
        display: none;
    }
    .navbar {
        padding: 0px !important;
    }
    .navbarCheck {
        overflow:scroll;
        display: block !important;
    }
    .headInner {
        display: none;
    }
    .side-drawer a {
        color: #555;
        text-decoration: none;
        font-family: Montserrat,-apple-system,"Helvetica Neue",sans-serif;
        padding: 16px 0px;
        font-size: 20px;
        text-align: left;
    }
    .headResponse {
        display: flex;
        justify-content: center;
    }
    .responsiveData {
        display: flex;
        align-items: center;
        flex: 100%;
    }
    .searchIcon {
         background-color: transparent;
        padding: 15px;
        width: 0px;
        height: 51px;
        cursor: pointer;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        flex: 12%;
    }
    .searchBarResponsive {
        margin-top:13px;
    }
    .selectThing {
        height: 50px;
        flex: 19%;
    }
    .logoResponsive {
        flex: 100%;
        text-align: center;
    }
    .setDrawerButton {
        display: block;
    }
    .containerWidthGallery {
        background-color: #fff;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-width: 95%;
    }
    .containerWidth {
        width: 100%;
        min-width: 95%;
    }
    .h_departments {
        width: 95%;
        display: inline-block;
        text-align: left;
        min-width: 95%;
        max-width: 1140px;
    }
}

@media (max-width:813px) and (min-width:667px) {
    .slick-slider .slick-initialized{
        height: 660px;
    }
}

@media (max-width:776px) and (min-width: 320px) {
    .navbarCheck {
        overflow:scroll;
        display: block !important;
    }
    .navbar {
        padding: 0px !important;
    }
    .selectThing {
        height: 50px;
        flex: 30%;
    }
    .loginSide {
        display: none;
    }
    .selectBox {
        -ms-flex: .2;
        flex: .3;
        padding: 4px;
        padding-bottom: 0px;
    }
    .setDrawerButton {
        display: block;
    }
    .containerWidthGallery {
        background-color: #fff;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-width: 95%;
    }
    .containerWidth {
        width: 100%;
        min-width: 95%;
    }
    .side-drawer a {
        color: #555;
        text-decoration: none;
        font-family: Montserrat,-apple-system,"Helvetica Neue",sans-serif;
        padding: 16px 0px;
        font-size: 18px;
        text-align: left;
    }
    .h_departments {
        width: 95%;
        display: inline-block;
        text-align: left;
        min-width: 95%;
        max-width: 1140px;
    }
    .alignCenter {
        text-align: center;
        font-family: Montserrat,-apple-system,"Helvetica Neue",sans-serif;
        padding: 16px 0px !important;
        width: 129px;
    }
}

@media (max-width: 766px) {
    .navbarCheck {
        overflow:scroll;
        display: none !important;
    }
    .navbar {
        padding: 0px !important;
    }
}

@media (max-width: 575px) and (min-width: 320px){
    .responsiveGallery > .slick-track {
        padding: 0px 0px;
        height: 650px;
    }
    .containerWidth {
        width: 95%;
        min-width: 93%;
    }
    .containerWidthGallery {
        background-color: #fff;
        width: 95%;
        padding-right: 15px;
        padding-left: 15px;
        min-width: 95%;
    }
    .BottomLogo {
        position: relative;
         left: 12px;
    }
}

@media (max-width:470px) {
    .set_departments_text {
        font-family: Montserrat,-apple-system,"Helvetica Neue",sans-serif;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 220px;
        background: #fff;
        padding: 4px 16px 4px 16px;
        border-radius: 22px;
        font-size: 9px;
    }
    .set_departments_text_2 {
        font-family: Montserrat, -apple-system, "Helvetica Neue", sans-serif;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 213px;
        background: #fff;
        padding: 4px 16px 4px 16px;
        border-radius: 22px;
        font-size: 9px;
    }
    .spanShop {
        display: -ms-flexbox;
        display: flex;
        font-family: Montserrat,-apple-system,"Helvetica Neue",sans-serif;
        cursor: pointer;
        color: #fff;
        padding-top: 10px;
        justify-content: center;
    }
    .respImage {
        max-width: 112px;
        min-width: 112px;
    }
    .selectThing {
        height: 37px;
        flex: 50%;
        padding-right: 0px;
    }
    .searchIcon > img {
        width:23px;
    }

    .Col {
        color: #fff;
        -ms-flex: .2;
        flex: .2;
        text-align: -webkit-center;
    }

    .footerBottomLink {
        color: #8C95A5;
        font-size: 14px;
        font-family: Montserrat,-apple-system,"Helvetica Neue",sans-serif;
        padding-right: 15px;
        flex: 100%;
        display: flex;
        justify-content: center;
    }

    .containerWidth {
        width: 92%;
        min-width: 92%;
    }

    .containerWidthGallery {
        background-color: #fff;
        width: 92%;
        padding-right: 15px;
        padding-left: 15px;
        min-width: 92%;
    }
}

