.side-drawer {
    height:100%;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0 , 0 , 0 , 0.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 70%;
    max-width: 400px;
}
.side-drawer ul {
    list-style: none;
    display: flex;
    padding-top:16px;
    flex-direction: column;
}

.side-drawer a {
    color:#212529;
    text-decoration: none;
    text-align: left;
}